*.dylib
*.so
*.a
*.o
*.h
*~
docs/
.vscode/
.deps/
Makefile
Makefile.in
autom4te.cache/
aclocal.m4
ar-lib
compile
config.log
config.guess
config.h.in
config.h.in~
config.sub
config.status
configure
install-sh
libtool
ltmain.sh
macros
missing
stamp-h1
tests/simple_get
tests/Makefile
