Source: libcoraza
Section: libs
Priority: optional
Maintainer: Pierre Pomes <pierre.pomes@gmail.com>
Build-Depends: debhelper-compat (= 13),
               autoconf,
               automake,
               libtool,
               golang-go (>= 2:1.24~),
               gcc,
               make,
               patchelf,
               pkg-config
Standards-Version: 4.7.0
Homepage: https://github.com/corazawaf/libcoraza
Rules-Requires-Root: no

Package: libcoraza1
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OWASP Coraza WAF C library - runtime
 Coraza is an open-source Web Application Firewall engine. libcoraza
 provides C bindings to the Coraza engine, allowing integration with
 web servers like Nginx and Apache.

Package: libcoraza-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libcoraza1 (= ${binary:Version}), ${misc:Depends}
Description: OWASP Coraza WAF C library - development files
 Coraza is an open-source Web Application Firewall engine. This package
 contains the header files and static library needed to build modules
 that use libcoraza.
