name: Test make and install

on:
  push:
  pull_request:
jobs:
  make-targets:
    strategy:
      matrix:
        go-version: [1.24.x, 1.25.x]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        lfs: true
        fetch-depth: 0 #for better blame info
    - name: Install macOS dependencies
      if: runner.os == 'macOS'
      run: |
        brew install autoconf automake libtool
    - name: Setup
      run: |
        ./build.sh
        ./configure
    - name: Compile
      run: |
        make V=1
    - name: Test
      run: |
        make check
    - name: Install
      run: |
        sudo make V=1 install
